body{
    background-color: #74512D;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.container{
    position: relative;
}

.hrABove{
    width: 10px;
    border: 1px solid #fff;
    position: absolute;
    left: 0px;
    top: 0;
}
.hrBelow{
    height: 10px;
    border: 1px solid #fff;
    position: absolute;
    left: 0px;
    top: 0;
}
.hrBeneath{
    height: 15px;
    width: 0.1px;
    border: 1px solid #fff;
    left: 0px;
    top: 0;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 10px;
    word-spacing: 5px;
    margin-bottom: 10px;
    font-size: 40px;
}

button{
    background-color: transparent;
    letter-spacing: 5px;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    padding: 6px 30px;
}

p{
    color: #FFF6E9;
    letter-spacing: 2px;
}